* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  font-family: nunitoSans;
  font-weight: 400;
  outline: none;
  max-width: 100%;
}

@font-face {
  font-family: nunitoSans;
  src: url("../assets/fonts/NunitoSans-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: nunitoSans;
  src: url("../assets/fonts/NunitoSans-ExtraBold.ttf");
  font-weight: 700;
}

::-webkit-scrollbar-track {
  background-color: #F8FCFC;
}

::-webkit-scrollbar-thumb {
  background-color: gray;
}

::-webkit-scrollbar {
  width: 0px;
}

.flex_between {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.flex_between_max {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.flex {
  display: flex;
}

.flex_align_center {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.flex_align_start {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.inline {
  display: inline-block;
}

.wallet_icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

h1,
h2,
h3,
h4,
strong {
  font-weight: 700;
}

small {
  font-size: 12px;
}

h1 {
  font-size: 28px;
  line-height: 28px;
}

h2 {
  font-size: 21px;
  line-height: 32px;
}

h3 {
  font-size: 16px;
  line-height: 24px;
}

h4 {
  font-size: 16px;
  line-height: 24px;
}

p,
li,
select {
  font-size: 14px;
  line-height: 150%;
}

.wallet_price {
  font-size: 28px;
  line-height: 28px;
}

.text_secondary {
  color: #017189;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.mx_5 {
  margin: 0 8px;
}

.my-20 {
  margin: 20px;
}

select {
  border: none;
  color: #017189;
}

.input_nav {
  position: relative;

  input {
    width: 100%;
    padding: 10px 10px;
    padding-left: 40px;
    font-size: 14px;
    line-height: 150%;
    background: #F8FCFC;
    border: 1px solid #AAC0C5;
    border-radius: 16px;
  }

  img {
    position: absolute;
    top: 13px;
    left: 7px;
  }
}

.chart {
  padding: 20px 0;

  .chart_info {
    display: flex;
    justify-content: space-between;
    justify-content: flex-end;

    div {
      margin-left: 30px;

      img {
        width: 36px;
        height: 36px;
      }
    }
  }

  .chart_image {
    width: 100%;
    padding: 30px;

    img {
      width: 100%;
    }
  }
}

.layout {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;

  &>div:nth-child(1) {
    background: #017189;
    width: 23%;

    aside {
      overflow-y: scroll;
    }

    .side_wrapper {
      height: 100vh;
      width: 80%;
      margin: 0 auto;
      color: white;
      padding: 20px 0;

      .balance {
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 8px;
        padding: 10px 20px;
        margin: 20px 0;
        margin-bottom: 60px;

        &>div {
          border-bottom: 0.5px solid #EAFBFF;
          padding: 5px 0;
          margin-bottom: 10px;
        }

        &>div:nth-child(3) {
          border-bottom: none;

          button {
            width: 48%;
            padding: 5px;
            font-size: 16px;
            line-height: 22px;
            border-radius: 4px;
            border: none;
            outline: none;

            &:nth-child(1) {
              background: #FDA4AF;
              color: #fff;

              &:hover {
                background: #da858f;
              }
            }

            &:nth-child(2) {
              background: #fff;
              color: #2B899D;

              &:hover {
                background: rgb(243, 239, 239);
              }
            }
          }
        }

      }

      .dashboard {
        img {
          margin-right: 10px;
        }

        p {
          display: inline-block;
        }

        .head {

          padding: 10px;

          img {
            margin-bottom: -7px;
          }
        }

        .active {
          background-color: #fff;
          color: #017189;
          padding: 10px;
          border-radius: 8px;
        }

        ul {
          .active {
            background-color: #fff;
            padding: 0;

            img {
              color: #017189 !important;
            }

            &:hover {
              background-color: #fff;
            }

            a {
              display: block;
              color: #017189;
            }
          }

          li {
            border-radius: 8px;

            a {
              display: block;
              padding: 15px 10px;
              color: white;
              display: flex;
              align-items: center;
            }

            &:hover {
              background-color: rgba(255, 255, 255, 0.1);
            }
          }
        }
      }

      .refer {
        background-color: white;
        color: #000;
        border-radius: 8px;
        padding: 20px;
        margin: 60px 0;

        img {
          width: 48.59px;
          height: 50px;
          margin-right: 10px;
        }

        button {
          width: 100%;
          padding: 15px 0;
          background: #017189;
          color: #fff;
          border: none;
          outline: none;
          border-radius: 8px;
          font-size: 16px;
          margin-top: 15px;

          &:hover {
            background: #024352;

          }
        }
      }
    }
  }

  &>div:nth-child(2) {
    width: 82%;
    padding: 0 20px;
    margin: 0;
    background-color: #FCFDFE;

    .nav {
      position: sticky;
      top: 0px;
      padding-top: 15px;
      background-color: #fff;
      align-items: center;
      &>div {
        width: 60%;
        align-items: center;

        .search {
          width: 50%;
        }

        div:nth-child(3) {
          img {
            margin: 7px;
          }
        }
      }


    }

    main {
      overflow-y: scroll;

      &>div {
        height: 100vh;
      }
    }

    .screenOne {
      background-color: #fff;

      .wallet {
        padding: 20px;

        .wallet_head {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 20px 0;
        }

        .card_wrapper {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .card {
            flex: 1;
            margin-right: 32px;
            border-radius: 16px;
            padding: 20px;

            &>div {
              padding-bottom: 20px;

              img {
                width: 52px;
                border-radius: 50px;
              }
            }
          }
        }

      }

      .quickLinks {
        padding: 20px;

        .card {
          border: 1px solid #F1F5F9;
          box-sizing: border-box;
          border-radius: 8px;
          display: inline-block;
          padding: 20px;
          margin: 20px 0;
          margin-right: 15px;
          width: 120px;
          text-align: center;
          height: 131px;
        }

      }

      .activity {
        div {
          select {
            border: none;
            margin-left: 10px;

          }
        }
      }
    }

    .screenTwo {

      &>div {
        padding: 40px 0;

        button {
          border: none;
          outline: none;
          background: #017189;
          border-radius: 8px;

          &:hover {
            background: #035163;
          }

          a {
            padding: 15px;
            color: white;
            display: block;

          }
        }
      }

      section {
        display: flex;
        justify-content: space-between;

        .walletSectionOne {
          width: 40%;
          background-color: #fff;

          .head {
            div {
              width: 90%;
            }

            select {
              width: 15%;
              border: none;
              color: #017189;
            }
          }

          .active_subnav {
            box-shadow: inset 0px -4px 0px #017189;
          }

          ul {
            display: flex;
            justify-content: space-between;
            padding: 15px 0;

            li {

              text-align: center;
              flex: 1;
              padding-bottom: 10px;
            }
          }

          .active_data {
            .default {
              background: #EEF7F9;
              border-radius: 8px;
            }

            &>div {
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding: 10px;
              margin: 10px 0;

              img {
                width: 52px;
                border-radius: 50px;
                margin-right: 10px;
              }
            }
          }
        }

        .walletSectionTwo {
          background-color: #fff;
          width: 55%;
          padding: 10px;

          .wrapper_box2 {
            width: 90%;
            margin: 10px auto;

            .box1 {
              border: 1px solid #F3F4F6;
              padding: 10px;

              small {
                color: #22C55E;

              }

              small::before {
                content: "";
                width: 8px;
                height: 8px;
                border-radius: 50px;
                background: #22C55E;
                display: inline-block;
                margin-right: 3px;
              }

              strong {
                font-size: 40px;
              }
            }

            &>div:nth-child(2) {
              padding: 10px 0;
              padding-top: 15px;

              p {
                margin: 7px 0;
              }
            }

            .btn_group {
              padding: 20px 0;

              button {
                flex: 1;
                margin: 0 7px;
                border: 1px solid #017189;
                background-color: white;
                border-radius: 8px;

                &:hover {
                  background: rgb(243, 239, 239);
                }

                a {
                  display: block;
                  padding: 13px;
                  color: #017189;
                }
              }
            }

            ul {
              padding: 35px 0;

              li {
                padding: 0 15px;
                display: inline-block;
                text-align: center;
                padding-bottom: 10px;
              }
            }

            .active_subnav {
              box-shadow: inset 0px -4px 0px #017189;
            }
          }
        }
      }
    }
  }

}

.menuBar {
  z-index: 20;
  width: 25px;
  position: fixed;
  top: 15px;
  right: 15px;
  display: none;
}

.open {
  display: block;

}

.close {
  display: block;
}

@media (max-width: 670px) {

  .chart {
    .chart_info {
      display: flex;
      justify-content: space-between;

      div {
        margin-left: 0px;
      }
    }

    .chart_image {
      width: 100%;
      padding: 30px 0;

    }
  }

  .menuBar {
    display: block;
  }

  .open {
    display: block;
  }

  .close {
    display: none;
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 18px;
    line-height: 32px;
  }

  h3 {
    font-size: 16px;
  }

  h4 {
    font-size: 15px;
  }

  .flex_between {
    flex-direction: column;
  }

  .flex {
    display: flex;
  }

  .flex_align_center {
    flex-direction: column;
  }

  .chart {
    .chart_info {
      flex-direction: column;

      &>div {
        margin-top: 20px;
      }
    }
  }

  .layout {
    width: 100%;
    margin: 0 auto;

    &>div:nth-child(1) {
      position: fixed;
      top: 0;
      left: 0;
      width: 85%;
      z-index: 10;

      aside {
        overflow: scroll;
      }

      .side_wrapper {
        height: 100vh;
        width: 80%;
        margin: 0 auto;
        color: white;
        padding: 20px 0;

        .balance {
          &>div {
            flex-direction: row;
          }
        }
      }
    }

    &>div:nth-child(2) {
      width: 100%;
      padding: 0 20px;
      margin: 0;
      background-color: #FCFDFE;

      .nav {
        flex-direction: column;
        position: static;
        margin-bottom: 20px;

        &>div {
          flex-wrap: wrap !important;
          width: 100%;
          align-items: center;
          justify-content: space-around;

          .search {
            width: 100%;
            margin: 15px 0;
          }

          div:nth-child(2) {
            flex-direction: row;
          }

          div:nth-child(3) {
            flex-direction: row;

            img {
              margin: 5px;
            }
          }
        }
      }

      main {
        overflow-y: initial;

        &>div {
          height: 100vh;
        }
      }

      .screenOne {
        background-color: #fff;

        .wallet {
          padding: 0px;

          .card_wrapper {
            flex-direction: column;

            .card {
              width: 100%;
              margin: 20px 0;

            }
          }
        }

        .quickLinks {
          padding: 20px;

          .card_wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .card {
              margin: 10px auto;
              width: 120px;
            }
          }


        }

        .activity {
          div {
            select {
              border: none;
              margin-left: 10px;

            }
          }
        }
      }

      .screenTwo {

        &>div {
          padding: 40px 0;

        }

        section {
          flex-direction: column;

          .walletSectionOne {
            width: 100%;

            .head {
              flex-direction: row;

              div {
                width: 80%;
              }

              select {
                width: 20%;
              }
            }

            ul {
              padding: 35px 0;
            }

          }

          .walletSectionTwo {
            width: 100%;
            padding: 0px;

            .wrapper_box2 {
              width: 100%;

              .box1 {
                flex-direction: row;

                strong {
                  font-size: 20px;
                }
              }

              &>div:nth-child(2) {
                flex-direction: row;
                flex-wrap: wrap;

                p {
                  margin: 5px 0;
                }
              }

              .btn_group {
                padding: 20px 0;

                button {
                  width: 60%;
                  margin: 10px 0px;

                }
              }
            }
          }
        }
      }
    }

  }
}